@import "./_variables";
@import "./_mixins";

* {
  box-sizing: border-box;
  outline: none;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  background-color: $main-background-color;
  color: $main-text-color;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: $main-text-size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
